<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Vue.js Online Store</title>
</head>

<body>
    <div class="container" id="app">

        <!-- Result add cart -->
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-text ml-auto">
                <b>Cart:</b>
                <span class="badge badge-pill badge-success">{{cart.length}}</span>
            </div>
        </nav>
        <br>
        <h1>Fake Store</h1>
        <div class="d-flex align-items-center">

            <!-- Filter item with input number-->
            <label for="" :class="style.label">Max</label>
            <input type="number" class="form-control mx-2" :style="{'width':'60px', 'text-align':'center'}" v-model="maximum">

            <!-- Filter item with range -->
            <input type="range" class="costume-range" min="0" max="2000000" v-model="maximum">
        </div>


        <div class="row d-flex mb-3 align-items-center" v-for="item in products">
            <div v-if="item.price <= Number(maximum)">
                <!-- Button add cart -->
                <div class="col-1 m-auto">
                    <button class="btn btn-info" v-on:click="addItem(item)">+</button>
                </div>

                <div class="col-sm-4">
                    <img class="img-fluid" :src="item.image" :alt="item.name">
                </div>

                <!-- Show product -->
                <div class="col">
                    <h3 class="text-info">{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <div class="h3">IDR. {{item.price}}</div>
                </div>
            </div>
        </div>
    </div>


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Vue.js -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <!-- Vue.js manual -->
    <script src="app.js"></script>
</body>

</html>